<%- include("partials/header") %>

<div class="container">
	<div class="display-4 my-5">The Shoppies</div>
	<p class="lead">Hi <%=user.email%>, go ahead and nominate 5 of your favourite movies for The Shoppies!</p>
	<input id="user-id" type="hidden" value="<%= user._id %>">
	<div class="row">
		<div class="col-md-8">
			<div class="input-group mb-3">
				<input id="search" class="form-control" type="text" placeholder="Search movies">
				<div class="input-group-append">
					<button id="search-btn" class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
				</div>
			</div>
			
			<div id="search-results">
				
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-header">
					Nominations
				</div>
				<ul class="nomination list-group list-group-flush">
					<% user.nominations.forEach( nomId => { %>
						<li class="list-group-item">
							<input type="hidden" value="<%= nomId %>">
						</li>
					<% }) %>
				</ul>
			</div>
		</div>
	</div>
</div>

<%- include("partials/footer") %>